* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 15px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color:var(--light-gray);
  display: flex;
  padding: 10px;    
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-top: 5rem;
  border: 2px;
  border-radius: 20px;
  max-width: 28rem;
  background: var(--white);
  padding: 0 2em 2em 2em;
  text-align: center;
  box-shadow: 0px 0px 8px 6px var(--dark-blue);
}

.container h1 {
  font-weight: bold;
  font-size: 2rem;
}

.container h3 {
  font-weight: lighter;
  font-size: 1.7rem;
}

.container img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  width: 20rem;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}